# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# IDEs
.vscode/
.idea/
POSTER FILES/
docs/poster_diagrams/*.jar
docs/poster_diagrams/*.png

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cache and entire cache directory
.cache

# Data directory
app/data

# Overpass API cache
.cache
# cache directory
cache
# all files in cache directory
cache/*
.python-version

# git
.github/
.flowbaby/
.agent-output/
agent-output